<ion-modal-view>
        
          <ion-header-bar  class="bar-positive">

                   <h1 class="title">Modal</h1>


            <button class="button button-clear button-icon ion-close" ng-click="fechaModal()"></button>

            
          </ion-header-bar>
        
            <ion-content>

                    <h2>Cadastro</h2>


		<div class="list">
		  <label class="item item-input item-floating-label" >
		    <span class="input-label">Nome</span>
		    <input type="text" placeholder="Nome" ng-model="cadastro.nome">
		  </label>

		  <label class="item item-input item-floating-label">
		    <span class="input-label">Email</span>
		    <input type="text" placeholder="Email" ng-model="cadastro.email">
		  </label>
		</div>
		<button class="button button-full button-positive" ng-click="cadastroUsuario(cadastro)">Enviar</button>

            </ion-content>

  </ion-modal-view>